* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/*header and nav styles*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1% 1% 0;
    background-color: #383330;
}

h1 {
    background-color: #eba834;
    color: #383330;
    font-size: 200%;
    padding: 1%;
    width: 300px;
    text-align: end;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    
}

#nav-links li a {
    color: #eba834;
    text-decoration: none;
    transition: 0.25s ease-in;
    background-image: linear-gradient(#eba834, #eba834);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
    padding: 2px;
  }
  
  #nav-links li a:hover {
    background-size: 100% 100%;
    color: #383330;
  }

/*header and nav styles end*/

/* banner and profile image styles */
.paper {
    background-image: url(../images/paper.jfif);
    height: 220px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #383330;
}

.image {
    height: 175px;
    margin-left: 110px;
    border: 3px solid #383330;    
}

.paper-caption h3 {
    color: #eba834;
    background-color: #383330;
    font-size: 175%;
    margin-right: 50px;
    position: relative;
    top: 70px;
    width: fit-content;
    padding: 4px;
}
/* banner and profile image styles end */

/*main content styles*/
/*about styles*/
.about{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.about-title {
    flex: 1 0 0;
    border-right: 3px solid #eba834;

}

.about-title h2 {
    font-size: 200%;
    padding: 1% 5% 0% 0%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.about-div {
    flex: 4 0 0;
}

p {
    margin-bottom: 10px;
    padding-left: 1%; 
    width: 85%;
}
/*about styles end*/

/*work styles*/
.work{
    display: flex;
    padding: 2%;
}

.work-title {
    flex: 1 0 0;
    border-right: 3px solid #eba834;
}

.work-title h2 {
    font-size: 200%;
    text-align: end;
    padding: 1% 5% 0% 0%;
}

.work-div {
    flex: 4 0 0;
}

.work figure {
    margin: 5px;
    border: 5px solid #383330;
    opacity: .7;
}

.work figure:hover {
    opacity: 1;
}

/* large figure styles */
.stopsign {
    display: flex;
    height: 500px;
    justify-content: center;
    width: 90%;
}

.figure-stop {
    background-image:url(../images/bird.JPG);
    min-height: 350px;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    border: 5px solid #383330;
    color: #eba834;
}

.sign-caption {
    position: relative;
    top: 420px;
    margin: 1% 1% 1% 0;
    padding: .5% .5% .5% 2% ;
    background-color: #383330;
    width: fit-content;
}

.bird-link {
    color: #eba834;

}

/* small figure styles */
.small-figs {
    display: flex;
    width: 90%;
}

.small-caption {
    position: relative;
    top: 38px;
    margin: 1% 1% 1% 0;
    padding: .5% .5% .5% 5% ;
    background-color: #383330;
    width: fit-content;
}

.figure-tree {
    background-image:url(../images/tree.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #383330;
    margin: 2%;
    color: #eba834;
    min-height: 100px;
    flex-grow: 1;
}

.figure-bucket {
    background-image:url(../images/bucket.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #383330;
    margin: 2%;
    color: #eba834;
    min-height: 100px;
    flex-grow: 1;
}

.figure-horse {
    background-image:url(../images/horse.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #383330;
    margin: 2%;
    color: #eba834;
    min-height: 100px;
    flex-grow: 1;
}

.figure-cow {
    background-image:url(../images/cow.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #383330;
    margin: 2%;
    color: #eba834;
    min-height: 100px;
    flex-grow: 1;
}
/*work styles end*/

/*contact styles*/
.contact {
    display: flex;
    padding: 2%;
}

.contact-title {
    flex: 1 0 0;
    border-right: 3px solid #eba834;
}

.contact-title h2 {
    font-size: 200%;
    text-align: right;
    padding: 1% 5% 0% 0%;
    display: flex;
    justify-content: flex-end;
}

.contact-div {
    flex: 4 0 0;
}

.contact ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#contact-text li {
    color: #383330;
    text-decoration: none;
    transition: 0.25s ease-in;
    background-image: linear-gradient(#eba834, #eba834);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
    padding: 2px;
  }
  
  #contact-text li:hover {
    background-size: 100% 100%;
    color: #383330;
  }
/*contact styles end*/
/*main content styles end*/

/*media queries*/
@media screen and (max-width: 768px) {
    /* header and nav styles */
    header {
        flex-direction: column;
    }

    nav ul {
        padding: 5px;
    }
    
    h1 {
        width: fit-content;
    }

    /* banner styles */
    .paper {
        flex-direction: column;
        justify-content: center;
        height: 300px;
    }

    .paper-caption {
        position: relative;
        top: -50px;
        left: 25px;
    }

    .image {
        position: relative;
        left: -65px;
    }

    /* main content styles */
    /* about styles */
    .about {
        flex-direction: column;

    }

    .about-title {
        border-right: none;
    }

    .about h2 {
        width: 100%;
        border-bottom: 3px solid #eba834;
        justify-content: center;
    }

    .about-div {
    }

    /* work styles */
    .work {
        flex-direction: column;
    }

    .work-title {
        border-right: none;
    }

    .work h2 {
        width: 100%;
        border-bottom: 3px solid #eba834;
        text-align: center;
    }

    .small-figs {
        flex-direction: column;
        width: 100%;
    }

    .stopsign {
        width: 100%;
    }

    /* contact styles */
    .contact {
        flex-direction: column;
    }

    .contact-title {
        border-right: none;
    }

    .contact h2 {
        width: 100%;
        border-bottom: 3px solid #eba834;
        justify-content: center;        
    }

    .contact-div ul {
        flex-direction: column;
    }   
}

